@font-face {
  font-family: "Bowlby One";
  src: url(../fonts/BowlbyOne-Regular.ttf);
}
@font-face {
  font-family: "Domine";
  src: url(../fonts/Domine-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Domine", serif;
  background-color: #ffe014;
  text-align: center;
  padding: 4rem 14vw;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

h1, h2 {
  font-family: "Bowlby One";
  font-weight: normal;
}

.moviesWrapper > div, button, input {
  border-radius: 10px;
  box-shadow: 4px 4px 0px black;
  border: 1px solid black;
}

.grid {
  display: grid;
  width: 100%;
}

.moviesWrapper {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.moviesWrapper > div {
  padding: 4rem 3rem 4.5rem;
  background-color: #ff69c1;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  gap: 1.6rem;
  justify-content: space-between;
}
.moviesWrapper > div h2 {
  font-size: 2.1rem;
}